
<h2><%= current_user.first_name%>'s Playlist</h2>

<table>
	<thead>
		<tr>
			<th>Artist</th>
			<th>Title</th>
			<th>Times Added</th>
		</tr>
	</thead>
	<tbody>
		<% current_user.songs_added.group(:id).select("songs.*, count(songs.artist)").each do |s| %>
			<tr>
				<td><%= s.artist%></td>
				<td><%= s.title%></td>
				<td><%= s.count%></td>
			</tr>
		<% end %>
	</tbody>

</table>
